<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTX Trucking Careers - Log In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dcbcb40c25.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- NavBar -->
    <nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/careers">Careers</a>
              <a class="nav-link" href="#">Log In</a>
              <a class="nav-link" href="/about" tabindex="-1" aria-disabled="true">About</a>
            </div>
          </div>
        </div>
      </nav>

      <form class="form-container" style="margin: 10px;">
        <div class="sign-up-container">
          <div class="form-group col-md-4 mb-3">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group col-md-4 mb-3">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="button-container" >
            <button type="submit" class="btn btn-dark">Register</button>
          </div>
        </div>
      </form>

      <div class="button-container d-flex justify-content-around" >
        <a class="btn btn-dark btn-social btn-google" href="/auth/facebook" role="button">
          <i class="fab fa-google"></i>
          Sign In With Google
        </a>
        <a class="btn btn-dark btn-social btn-facebook" href="/auth/facebook" role="button">
          <i class="fab fa-facebook"></i>
          Sign In With Facebook
        </a>
      </div>

      <!-- Footer -->
      <footer class="footer py-3 bg-dark fixed-bottom">
        <div class="container text-center">
          <span class="text-muted">HTX Trucking Careers - 2021</span>
        </div>
      </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>